.feature {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature__list {
  display: flex;
}
.feature__item:not(:last-child) {
  margin-right: 30px;
  max-width: 270px;
}
.thumb {
  display: flex;
  justify-content: center;
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.feature__subtitle {
  @include font(700, 14px, 1.14);
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}

.feature__text {
  @include font(400, 14px, 1.71);
  color: var(--primary-text-color);
}
